@{
    ViewData["Title"] = "Admin Dashboard";
}


<h1>Welcome to the Admin Dashboard</h1>

<ul>
    <li><a asp-action="ManageArtists">Manage Artists</a></li>
    <li><a asp-action="ManageSongs">Manage Songs</a></li>
</ul>